/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
/nbproject
_ide_helper.php
_ide_helper_models.php
composer.phar
error.log
Todo.*
.vagrant
/.vagrant
npm-debug.log
public/static/libs/cesium
public/static/libs/*.lnk
public/companies
yarn-error.log
phpunit.txt
.phpunit.result.cache
public/static
# resources/views/index.blade.php
*.lock
